@import "elements.less";
@import "font-awesome.less";


/* ---------------------------------------
	Variables
--------------------------------------- */
@blank: rgb(255,255,255);
@light: rgb(213,213,226);
@medium: rgb(30,130,186);
@dark: rgb(15,109,162);
@darkest: rgb(16,89,128);
@btnmedium: rgb(26,120,173);
@btndark: rgb(13,96,144);
@body: rgb(245,245,248);
@link: rgb(15,31,112);
@btnnav: rgb(255,138,0);
@shadow: rgba(6,76,114,.15);

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Icons
:: Off-Canvas Nav
:: Accordion
:: Slider
:: Forms
:: News
:: My GPS
:: Contact Us
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
	height: 100%;
	background: url(../images/pattern-home.jpg) repeat @body;
	//padding-top: 45px;
	.masthead {
		h1 {
			&.logo {
				background: url(../images/logo.png) no-repeat;
				background-size: 100%;
				text-indent: -999em;
				padding:0;
				position: relative;
				top: 5px;
				margin: 0 auto;
				width: 160px;
				height: 35px;
			}	
		}
		a {
			&.open-menu {
				text-indent: -999em;
				left: 0;
				width: 45px;
				background: #092a67;
				border-right: 1px solid rgba(255,255,255,.05);
				&:before {
					background: url(../images/icons/openmenu.png) no-repeat;
					background-size: 50%;
					content: '';
					display: inline-block;
					height: 30px;
					width: 40px;
					position: absolute;
					top: 16px;
					left: 12px;
				}
			}
			&.close-menu {
				text-indent: -999em;
				left: 0;
				width: 45px;
				background: #092a67;
				border-right: 1px solid rgba(255,255,255,.05);
				&:before {
					background: url(../images/icons/openmenu.png) no-repeat;
					background-size: 50%;
					content: '';
					display: inline-block;
					height: 30px;
					width: 40px;
					position: absolute;
					top: 16px;
					left: 12px;
				}
			}
			&.back {
				text-indent: -999em;
				left: 0;
				width: 45px;
				background: #092a67;
				border-right: 1px solid rgba(255,255,255,.05);
				&:before {
					background: url(../images/icons/back.png) no-repeat;
					background-size: 50%;
					content: '';
					display: inline-block;
					height: 30px;
					width: 40px;
					position: absolute;
					top: 14px;
					left: 12px;
				}
			}
		}
	}
	.content {
		//padding: 15px;
		//margin-top: 50px;
		ul, ol, dl {
				list-style: none;
		}
		h1 {
			margin-left: 10px;
		}
	}
	a {
		color: @link;
	}
	button, .button {
		background: @medium;
	}
	h1 {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: normal;
		color: @link;
	}
	h2 {
		font-size: 10px;
		color: @medium;
	}
	h3 {
		font-size: 12px;
		text-transform: capitalize;
		color: @link;
		line-height: 1.6em;
	}
	h5 {
		font-size: 11px;
		color: @link;
	}
	
	


/* -----------------------------------------
	   Icons
	----------------------------------------- */
	li [class^="icon-"], li [class*=" icon-"] {
	    width: auto;
	}
	.button {
		li [class^="icon-"], li [class*=" icon-"] {
	    margin-bottom: -2px;
		}
	}
	.icon-huge {
		font-size: 45px;
	}



/* -----------------------------------------
	   Off-Canvas Nav
	----------------------------------------- */

/* Advanced Checkbox Hack */
body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

.main-header {
background: rgb(12,47,115) url(../images/bkg-header-triangles.png) no-repeat right center;
background-size: 60%;
text-align: center;
color: white;
text-shadow: #00528a 0px -1px 0px;
position: fixed;
width: 100%;
left: 0;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
height: 45px;
line-height: 45px;
padding: 0;
.transition(.3s);
z-index: 99;
}

.main-header a {
	position: absolute;
	left: 12px;
	top: 0px;
	color: white;
	font-size: 32px;
}

.page-wrap {
	float: right;
	width: 100%;
	.transition(.3s);
}

.main-nav {
	position: fixed;
	top: 0;
	width: 0;
	height: 100%;
	background: #3B3B3B;
	overflow: hidden;
	.transition(.3s);
	}
.main-nav a {
	display: block ;
	height: 45px ;
	line-height: 45px ;
	padding: 0 0 0 15px;
	border-top: 1px solid rgba(255,255,255,.05);
	border-bottom: 1px solid rgba(0,0,0,.9);
	color: white;
	background: rgb(3,21,58);
	overflow:hidden;
	position: relative;
	&.active {
		background: rgb(23,47,93);
	}
	&.home {
		background: rgb(6,32,81) url(../images/logo.png) no-repeat;	
		background-size: auto 20px;
		text-indent: -999em;
		background-position: 10px 5px;
		height: 35px;
		&:hover {
			background: rgb(6,32,81) url(../images/logo.png) no-repeat;	
			background-size: auto 20px;
			text-indent: -999em;
			background-position: 10px 5px;
		}
	}
	&.icon {
		text-indent: 30px;
		&:after {
			content: '';
			display: inline-block;
			height: 26px;
			width: 26px;
			position: absolute;
			top: 15px;
			left: 16px;
		}
		&.ghost-white {
			&:after {
				background: url(../images/icons/ghost.png) no-repeat;
				background-size: 50%;
			}
		}
		&:before {
			content: '';
			background: rgb(9,46,115);
			height: 25px;
			width: 25px;
			position: absolute;
			left: 10px;
			top: 10px;
			.rounded(50%);
		}
	}
}
.main-nav a:hover, .main-nav a:focus {
	background: rgb(3,26,72);

}


.content {
	width:100%;
	margin-left: 0%;
	padding: 60px 0px 0 ;
	.transition(.3s);
	overflow: hidden;
}

#theme-masthead .close-menu {
	display: none;
}

#main-nav:target {
	width: 80%;
}

#main-nav:target + .page-wrap {
	/* width: 20%; */
}
#main-nav:target + .page-wrap .open-menu {
	display: none;
}
#main-nav:target + .page-wrap .close-menu {
	display: block;
}
#main-nav:target + .page-wrap .main-header {
	left: 80%;
}
#main-nav:target + .page-wrap .content {
	float:left;
	margin-left: 80%;
}
	


	/* -----------------------------------------
	   Button Navigation
	----------------------------------------- */

	.buttonnav {
		text-align: center;
			.row {
				padding: 10px 20px 0;
				.slide {
					.box-sizing;
					display: block;
					float: left;
					.panel {
						&.callout {
							border-radius: 50%;
							width: 75px;
							height: 75px;
							background: @btnnav;
							border: none;
							margin: 0 auto 5px;
						}
					}
					p {
						font-size: 11px;
						font-weight: bold;
						max-width: 75px;
						margin: 0 auto 10px;
					}
					.icon {
						&.ghost-white {
							background: url(../images/icons/ghost.png) no-repeat;
							background-size: 50%;
							width: 64px;
							height: 64px;
							display: block;
						}
					}
				}
				&.threecolumns {
					.slide {
						width: 33%;
					}
				}
				&.twocolumns {
					float: none;
					.slide {
						width: 50%;
						&:first-child {
							padding-left: 15%;
						}
						&:last-child {
							padding-right: 15%;
						}
					}
				}
			}
	}


	/* -----------------------------------------
	   Slider
	----------------------------------------- */

	#carousel {
		background: #fbfbfb;
		position: relative;
		top: -20px;
		left: 0px;
		right: 0px;
		padding: 15px 0 0;
		.box-shadow(0px 4px 4px rgba(0,0,0,.05));
		img {
			width: 100%;
			padding: 0 10px;
			margin: 0 0 -30px;
		}
		.mblPageIndicatorContainer {
			position: absolute;
			right: -15px;
			border: none;
			background: #fbfbfb;
			height: 10px;
			top: 30px;
			.box-shadow(0px 4px 4px rgba(0,0,0,.05));
			.skew(50deg);
			.border-radius(0px, 0px, 3px, 0px);
			td {
				padding: 0px 0px 6px;
				&:first-child {
					padding-left: 15px;
				}
				&:last-child {
					padding-right: 20px;
				}
			}
			.box-sizing;
			.mblPageIndicatorDot {
				background: #dfdfdf;
				.rounded(50%);
				height: 7px;
				width: 7px;
				.skew(-50deg);
			}
			.mblPageIndicatorDotSelected {
				background: gold;
				.transition(.3s);
			}
		}
	}

	/* -----------------------------------------
	   Forms
	----------------------------------------- */

	label, legend {
		background: transparent;
		&.required {
			&:before {
				content: "*";
				color: @medium;
				font-size: 21px;
				top: 6px;
				margin-right: 3px;
				position: relative;
			}
		}
	}
	fieldset {
		&.radio {
			padding-bottom: 10px;
			label {
				text-align: inherit;
				span {
					width: 80%;
					float: left;
				}
				input {
					float: right;
					vertical-align: middle;
				}
			}
		}
		
	}

	

	    .custom-select {
	    	select {
		        font: inherit;
		        outline:none; /* remove focus ring from Webkit */
		        background: #E9E9E9;
		        border:1px solid #c3c3c3;
		        width: 100%;
		        height: 40px;
		        option {
		        	height: 40px;
		        	span {
		        		margin-top: 15px;
		        		line-height: 20px;
		        		padding-top: 10px;
		        		position: relative;
		        		top: 10px;
		        	}
		        }
		    }
	    }
	    .no-pointer-events .custom-select:after {
	        content: none;
	    }

    /* -----------------------------------------
       NEWS
    ----------------------------------------- */

    .news, #newslistvsw {
    	h1 {
    		margin: 0px 10px 5px;
    		text-transform: inherit;
    		font-size: 16px;
    		padding-left: 0px;
    	}
    	h3 {
    		margin-bottom: 0px;
    	}
    	.mblDomButtonArrow, .mblImageIcon {
    		display: none;
    	}
    	.mblListItemRightIcon {
    		display: none;
    	}

    }

    .newslist, .mblEdgeToEdgeList {
    	margin: 5px 10px;
    	.rounded(4px);
    	.box-shadow(0px 0px 2px @shadow);
    	background: @blank;
    	.mblListItemSelected {
    		background: gold;
    	}
    	li {
    		border-bottom: 1px solid #e1e1e1;
    		&:last-child {
    			border-bottom: 1px solid #e1e1e1;
    		}
    	}

    	.panel {
    		padding: 10px;
    		margin: 0;
    		border: none;
    		background: transparent;
    	}
    	h2, h3 {
    		font-size: 14px;
    		margin-bottom: 5px;
    		margin-top: 3px;
    		font-weight: normal;
    		color: @link;
    	}
    	
    	p {
    		font-size: 11px;
    		color: #666;
    		&.truncated {
    			&:after {
    				content: "...";
    			}
    		}
    	}
    	time {
    		font-size: 11px;
    		color: #666;
    		margin-bottom: 10px;
    		display: block;
    		font-weight: bold;
    	}
    	&.panel {

    	}
    }

    /* -----------------------------------------
       MY GPS
    ----------------------------------------- */
    #mygps, #mygpslist {
    	h2, h3 {
    		font-size: 14px;
    		margin-bottom: 5px;
    		margin-top: 3px;
    		font-weight: normal;
    		color: @link;
    	}
    	h2.mblRoundRectCategory {
    		margin: 0;
    	}
    	
    	p {
    		font-size: 11px;
    		color: #666;
    		&.truncated {
    			&:after {
    				content: "...";
    			}
    		}
    	}
    	time {
    		font-size: 11px;
    		color: #666;
    		margin-bottom: 10px;
    		display: block;
    		font-weight: bold;
    	}
	    .mblScrollableViewContainer {
	    	padding: 10px;
	    	.mblRoundRectList, .mblRoundRect {
	    		border: none;
	    		.rounded(4px);
	    		margin-left: 0;
	    		margin-right: 0;
	    		.box-shadow(0px 0px 2px @shadow);
	    	}
	    	.mblRoundRect {
	    		padding: 0;
	    		img {.border-radius(4px, 0px, 0px, 4px);}
	    		background: @blank;
	    		.gpscontent {
	    			padding: 10px;
	    		}
	    	}
	    	.mblRoundRectList {
	    		.mblListItem {
		    		border-bottom: 1px solid #e1e1e1;
		    		background: @blank;
		    		&.mblVariableHeight {
		    			padding: 0;
		    		}
		    		.mblListItemRightIcon {
		    			display: none;
		    		}
		    		.panel {
		    			background: transparent;
		    			border: none;
		    			padding: 10px;
		    		}
		    		.listimage {
		    			float: left;
		    			margin: 10px;
		    		}
	    		}
	    	}
	    }
    }
    


    /* -----------------------------------------
       CONTACT
    ----------------------------------------- */



    .mblEdgeToEdgeList {
    	margin: 0 10px 5px;
    	.rounded(4px);
    	.box-shadow(0px 0px 2px @shadow);
	    .mblListItem {
	    	border-bottom: 1px dashed #d0e1f4;
	    	&:last-child {
		        border: none;
		    }
		    .mblListItemLabel {
		    	color: @link;
		    	font-weight: normal;
		    }

	    }
	}

	.mblDomButtonArrow {
		background: url(../images/icons/drill.png) no-repeat 50%;
		background-size: 30%;
	}


    /* -----------------------------------------
       FOOTER
    ----------------------------------------- */

    .footer {
    	position: relative;
    	bottom: 0px;
    	td {
    		text-align: center;
    	}
    	a {
    		font-size: 11px;
    		text-decoration: underline;
    		text-align: center;
    		color: #007bc3;
    	}
    }




/* Close body */
}


    .dj_gecko, .dj_chrome, html {
    	body {
    
	    .mblSimpleDialog {
	    	padding:0px;
	    }
	    .mblSimpleDialogDecoration {
			.rounded(6px);
			background-color: #063175;
	       background-image: none;
	       border: 1px solid #0b5ddf;
	       //re-enable for dialog testing
	       //display: block !important; top: 152px; left: 22px;
	       .box-sizing;
	       &:before {
	       	content: '';
	       	height: 52px;
	       	width: 52px;
	       	position: absolute;
	       	top: -25px;
	       	.rounded(50%);
	       	background-color: #063175;
	        border: 1px solid #0b5ddf;
	        display: block;
	        left: 50%;
	        margin-left: -25px;
	        clip:rect(0px,62px,25px,0px);
	       }
	       &:after {
	       	content: '';
	       	position: absolute;
	       	top: -15px;
	       	left: 50%;
	       	background: url(../images/icons/exclamation-mark.png) no-repeat;
	       	background-size: 75%;
	       	height: 40px;
	       	width: 40px;
	       	margin-left: -14px;
	       }
	       .mblSimpleDialogContainer {
	       		padding: 10px 0 0;
		       	.mblSimpleDialogTitle {
		    	text-align:left;
		    	padding:5px 10px;
		    	line-height: 1.4em;
		    	font-size: 16px;
		    	}
		    	.mblSimpleDialogText {
		    		text-align:left;
		    		padding:5px 10px;
		    		color:gold;
		    	}
		    	.buttons {
		    		background: @blank;
		    		padding: 5px;
		    		.border-radius(0px, 5px, 5px, 0px);
		    		button {
		    			width: 49%;
						border-radius: 8px;
						color: @blank;
						font-size: 16px;
						.gradient( blue, rgb( 0, 84, 164 ), rgb( 0, 123, 195 ));
						.box-shadow(0px 2px 6px rgba( 6, 76, 114, .2 ));
						height: 37px;
						border: none;
		    			.box-sizing;
		    		}
		    	}
	       }
	    }
	    
	    
	}
	}