@import "elements.less";
@import "font-awesome.less";


/* ---------------------------------------
	Variables
--------------------------------------- */
@blank: rgb(255,255,255);
@light: rgb(213,213,226);
@medium: rgb(30,130,186);
@dark: rgb(15,109,162);
@darkest: rgb(16,89,128);
@btnmedium: rgb(26,120,173);
@btndark: rgb(13,96,144);
@body: rgb(245,245,248);
@link: rgb(15,31,112);

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Icons
:: Accordion
:: Slider
:: Forms
:: News
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
	background: url(../images/pattern-home.jpg) repeat @body;
	padding-top: 45px;
	.contain-to-grid {
		background: url(../images/bkg-header-triangles.png) no-repeat top right @medium;
		.drop-shadow(0px, 0px, 8px, .4);
		max-height: 45px;
		.top-bar {
			background: url(../images/bkg-header-triangles.png) no-repeat top right @medium;
			ul {
				li {
					background: @darkest;
					list-style: none;
					&:hover:not(.name), &.active:not(.name) {
			    		background: none repeat scroll 0% 0% @darkest;
			    		a { color: @blank; }
			    	}
			    	&.toggle-topbar {
			    		width: 42px;
			    		left: 0px;
			    		.gradient(@btnmedium, @btndark, @btnmedium);
			    		a {
			    			left: 12px;
			    		}
			    	}
			    	&.name {
			    		background: @darkest;
			    	}

			    }
			}
			.logo {
				background: transparent;
				a {
					background: url(../images/logo.svg) no-repeat;
					background-size: auto 35px;
					text-indent: -999em;
					padding:0;
					position: relative;
					top: -10px;
					margin: 0 auto;
					width: 160px;
				}
				&:hover:not(.name), &.active:not(.name) {
			    		background: transparent;
			    		a { color: @blank; }
			    	}
				h1 {
					&:hover {
						background: transparent;
					}
				}	
			}
		}
	}
	.content {
		padding: 15px;
		//margin-top: 50px;
		ul, ol, dl {
				list-style: none;
		}
	}
	a {
		color: @link;
	}
	button, .button {
		background: @medium;
	}
	h1 {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: normal;
		color: @link;
	}
	h2 {
		font-size: 10px;
		color: @medium;
	}
	h3 {
		font-size: 12px;
		text-transform: capitalize;
		color: @link;
		line-height: 1.6em;
	}
	h5 {
		font-size: 11px;
		color: @link;
	}
	
	.panel {
		background: #fff;
		padding: 10px;
		.rounded(3px);
		.drop-shadow;
		h3 { margin: 0; }
		p {
			font-size: 11px;
			color: #666;
			&.truncated {
				&:after {
					content: " [...]";
				}
			}
		}
		time {
			font-size: 11px;
			color: #666;
			margin-bottom: 10px;
			display: block;
		}

	}



	/* -----------------------------------------
	   Icons
	----------------------------------------- */
	li [class^="icon-"], li [class*=" icon-"] {
	    width: auto;
	}
	.button {
		li [class^="icon-"], li [class*=" icon-"] {
	    margin-bottom: -2px;
		}
	}
	.icon-huge {
		font-size: 45px;
	}
	


	/* -----------------------------------------
	   Button Navigation
	----------------------------------------- */

	.buttonnav {
		text-align: center;
		.panel {
			&.callout {
				.gradient(@btnmedium, @btndark, @btnmedium);
			}
		}
		.icon-huge {
			color: gold;
		}
	}





	/* -----------------------------------------
	   Accordion
	----------------------------------------- */
	/* Flexible Slide-to-top Accordion Style*/

	.st-accordion {
	    margin: 0 auto;
	    min-width:270px;
	    width:98%;
	    ul li {
	        border-bottom: 1px dashed @medium;
	        height: auto;
	        margin-top: 20px;
	        padding-bottom: 20px;
	        overflow: hidden;
	        &:first-child {
	        	border-top:none;
	        }
	        &.st-open > a {
			    span { 
				    .rotation(180deg);
				}
			}
	    }
	    ul li > a {
    	    display: block;
    		outline:none;
    		position: relative; 	
    		padding: 0 50px 0 0; 
    		span{
				background: url(http://www.techandmath.gr/img/icons/small_down_arrow.gif) no-repeat;
				height: 14px;
				margin-top: -7px;
				position: absolute;
				right: 10px;
				text-indent:-9000px;
				top: 16px;
				width: 26px;
				.transition(.5s);
				ul li ul li {
							border-bottom: none;
	       					border-top:none;
	        				height: auto;
				}
			}
    	}
	}
	.st-content{
	    padding: 10px 10px 30px 10px;
	    position: relative;
	    p {
    	    padding: 0px 0px 15px; 
    	}
    	ul li {
	        border-bottom: none;
	        border-top:none;
	        height: auto;
	    }
	}

	/* -----------------------------------------
	   Slider
	----------------------------------------- */

	.orbit-wrapper {
		.orbit {
			.orbit-slide {
				.scale {
					height: auto;
					overflow: hidden;
					position: relative;
					width: 100%;
					img {
						height: 378px;
						left: 50%;
						margin-top: -189;
						margin-left: -600px;
						min-width: 1200px;
						position: relative;
						top: 50%;

					}
				}
				.overimage {
					bottom: 10px;
					left: 10px;
					position: absolute;
					right: 10px;
					top: 10px;
					&.light {
						color: @blank;
						h4 {
							color: @blank;
						}
					}
				}
			}
		}
	}

	/* -----------------------------------------
	   Forms
	----------------------------------------- */

	label, legend {
		background: transparent;
		&.required {
			&:before {
				content: "*";
				color: @medium;
				font-size: 21px;
				top: 6px;
				margin-right: 3px;
				position: relative;
			}
		}
	}
	fieldset {
		&.radio {
			padding-bottom: 10px;
			label {
				text-align: inherit;
				span {
					width: 80%;
					float: left;
				}
				input {
					float: right;
					vertical-align: middle;
				}
			}
		}
		
	}

	

	    .custom-select {
	    	select {
		        font: inherit;
		        outline:none; /* remove focus ring from Webkit */
		        background: #E9E9E9;
		        border:1px solid #c3c3c3;
		        width: 100%;
		        height: 40px;
		        option {
		        	height: 40px;
		        	span {
		        		margin-top: 15px;
		        		line-height: 20px;
		        		padding-top: 10px;
		        		position: relative;
		        		top: 10px;
		        	}
		        }
		    }
	    }
	    .no-pointer-events .custom-select:after {
	        content: none;
	    }

    /* -----------------------------------------
       NEWS
    ----------------------------------------- */

    .news {
    	h1 {
    		margin-bottom: 0px;
    	}
    	h2 {
    		margin-top: 3px;
    	}
    	h3 {
    		margin-bottom: 0px;
    	}
    }






    /* -----------------------------------------
       media queries
    ----------------------------------------- */
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 480px) {
	/* Styles */
		body {
			//background: red;
		}
	}


/* Close body */
}