/* Off canvas layout CSS/JS provided by or adapted from work by Jason Weaver and Luke Wroblewski Requires globals.css grid.css */
.sidebar-button {
  display: block;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.drawer-wrap {
  margin-left: -100%;
  width: 70%;
  float: left;
  padding-bottom: 25em;
  z-index: 2;
}
.drawer-wrap nav {
  background: #222;
}
.js .content-wrap {
  margin-left: 0;
  float: right;
  z-index: 1;
  position: relative;
}
.js [role="navigation"] {
  margin: 0;
  clear: both;
  z-index: 2;
  padding: 1em 5%;
}
.active-nav [role="navigation"] {
  margin-top: 0;
}
.active-sidebar .drawer-wrap {
  margin-left: 0;
}
.active-sidebar .content-wrap {
  margin-right: -80%;
}
@media all and (min-width: 768px) {
  
}
