.theme-layout-accordion .theme-container h2 {
    cursor: pointer;
    padding-left:20px;
	background:url("../images/w3_hp_sm_sprites.png") no-repeat scroll left -1995px transparent;
}
.theme-layout-accordion.theme-layout-accordion-noclose .theme-container h2 {
	background-image:none
}
.theme-layout-accordion .theme-closed h2,
.theme-layout-accordion.theme-layout-accordion-noclose .theme-closed h2 {
	background:url("../images/w3_hp_sm_sprites.png") no-repeat scroll left -8995px transparent;
	background-color:#F7F7F7;
    border-top-color:#9C9A9C;
    color:#9C9A9C;
}
.theme-layout-accordion .theme-container-body {
    overflow:hidden;
    -webkit-transition:height 0.3s ease-in 0s;
}
.theme-layout-accordion .theme-closed .theme-container-body  {
    height:0 !important;
    -webkit-transition:height 0.3s ease-out 0.25s;
}