.theme-drill-nav ul {
	list-style:none outside none;
	padding:0;
	margin:0;
}
.theme-drill-nav ul.theme-hidden {
	display:block;
}
.theme-drill-nav a {
	text-decoration:none;
}
.theme-drill-nav ul.theme-hidden li, 
.theme-drill-nav ul.theme-selected ul.theme-hidden li, 
.theme-drill-nav ul.theme-selected ul.theme-selected ul.theme-hidden li{
	padding:0;
	border-style:none;
	height:auto;
}
.theme-drill-nav ul.theme-hidden li a, 
.theme-drill-nav ul.theme-selected ul.theme-hidden li a, 
.theme-drill-nav ul.theme-selected ul.theme-selected ul.theme-hidden li a{
	display:none;
}
.theme-drill-nav ul.theme-selected li{
	padding:15px 5px;
	height:20px;
	background-color:#5B595B;
	border-bottom:1px solid #888;
    border-top:1px solid #111;
	background:-webkit-gradient(linear, 0% 20%, 0% 100%, from(#5B595B), to(#4B494B));
}
.theme-drill-nav  ul.theme-selected a, 
.theme-drill-nav  ul.theme-hidden ul.theme-selected a, 
.theme-drill-nav  ul.theme-hidden ul.theme-hidden ul.theme-selected a {
	color:white;
	padding-left:10px;
	display:block;
}
.theme-nav-header a {
	font-weight:bold; 
	text-align:center;
}
.theme-drill-nav a.theme-nav-title {
	float:left;
}
.theme-drill-nav.theme-hidden-height a {
	display:none !important;
}
.theme-drill-nav .theme-nav-left,
.theme-drill-nav .theme-nav-right {
	position:static;
	margin:0;
}