.theme-swapper-layout {
	position:relative;
}
.theme-swapper-layout .component-control {
	position:absolute;
	top:0;
	z-index:0;
	background-color:white;
	width:100%;
	max-height:400px;
    overflow-y:scroll;
}
.theme-swapper-layout .component-control.theme-top {
	z-index:100;
	background-color:transparent;
}
.theme-swapper-layout .component-control .theme-container h2 {
	border-top-style:none !important;
}
#theme-page .theme-carousel-nav {
	display:block;
}
/* FADE ANIMATION */
@-webkit-keyframes fade-in {
	0% {
		opacity:0;
		-webkit-transform: scale(0,0);
	}
	100% {
		opacity:100;
		-webkit-transform: scale(1,1);
	}
}
@-webkit-keyframes fade-out {
	0% {
		opacity:100;
		-webkit-transform: scale(1,1);
	}
	100% {
		opacity:0;
		-webkit-transform: scale(0,0);
	}
}
.theme-anim-fade .theme-in {
	-webkit-animation-name: fade-in;
	-webkit-animation-duration: .8s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-transform-origin: bottom right;
}
.theme-anim-fade .theme-out {
	-webkit-animation-name: fade-out;
	-webkit-animation-duration: .8s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-transform-origin: bottom right;
}
.theme-anim-fade .component-control {
	opacity:0;
}
.theme-anim-fade .component-control.theme-top {
	opacity:100;
}
/* SWITCH ANIMATION */
@-webkit-keyframes swap-in {
	0% {
		-webkit-transform: scale(0,0) skew(0deg);
	}
	100% {
		-webkit-transform: scale(1,1) skew(0deg);
	}
}@-webkit-keyframes swap-out {
	0% {
		opacity:100;
	}
	10% {
		opacity:100;
	}
	100% {
		opacity:0;
	}
}
.theme-anim-switch .theme-in {
	-webkit-animation-name: swap-in;
	-webkit-animation-duration: .5s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-transform-origin: bottom center;
	opacity:100;
}
.theme-anim-switch .theme-out {
	-webkit-animation-name: swap-out;
	-webkit-animation-duration: .5s;
	-webkit-animation-timing-function: ease-in-out;
}
.theme-anim-switch .component-control {
	opacity:0;
}
.theme-anim-switch .component-control.theme-top {
	opacity:100;
}
/* TURN ANIMATION */
@-webkit-keyframes turn {
	0% {
		opacity:0.5;
		-webkit-transform: rotate(0deg) scale(0,0);
	}
	100% {
		opacity:1;
		-webkit-transform: rotate(360deg) scale(1,1);
	}
}
@-webkit-keyframes shrink {
	0% { 
		-webkit-transform: scale(1,1);
	}
	30% {
		-webkit-transform: scale(1.2,1.2);
	}
	100% {
		-webkit-transform: scale(0,0);
	}
}
.theme-anim-turn .theme-in {
	-webkit-animation-name: turn;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
}
.theme-anim-turn .theme-out {
	-webkit-animation-name: shrink;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
}
.theme-anim-turn .component-control {
	-webkit-transform: scale(0,0);
}
.theme-anim-turn .component-control.theme-top {
	-webkit-transform: scale(1,1);
}